<!DOCTYPE html>
<html>
<head>
  <title>SouChef</title>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="center-align container">

<%= yield %>
<% if current_user %>
	<ul class="collection">
	  <li class="collection-item"><%= link_to 'Sign Out', logout_path %></li>
	  <li class="collection-item"><%= link_to 'Dishes', dishes_path %></li>
	</ul>
<% else %>
	<ul class="collection">
	  <li class="collection-item"><%= link_to 'Login', login_path %></li>
	  <li class="collection-item"><%= link_to 'Sign Up', signup_path %></li>
	</ul>
<% end %>
</body>
</html>
